body {color: gold;
    background-color: rgb(0, 0, 0);}
.G1 {text-shadow: 2px 2px 5px rgb(255, 255, 255);
    font-family: "Papyrus", Fantasy;
}
.G2 {font-family: "Lucida Handwriting", cursive;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    text-align: center;}
.G3 {font-family: "Brush Script MT", cursive;
    font-size: 150%;
    color: grey;
    text-align: center;}
